{% extends "base.html" %}

{% block title %}Landing Page{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="ratio ratio-16x9" style="max-height: 300px;">
            <iframe src="https://www.youtube.com/embed/jWFxlRpcjd0?si=vMuaW5iRZfnAoIh7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <button class="btn btn-success mt-3">Comprar</button>
        <div class="mt-4 p-4 border rounded bg-light">
            <p>Bienvenidos a nuestra aplicación. Aquí puedes comprar y disfrutar de nuestro contenido.</p>
        </div>
        <button class="btn btn-success mt-3">Comprar</button>
    </div>
{% endblock %}
