{% extends "base.html" %} 
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <small class="text-danger">{{ field.errors }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </form>   

    <p class="mt-3 text-center">
        ¿No tienes cuenta? <a href="{% url 'account_signup' %}">Regístrate aquí</a>
    </p>
    <p class="text-center">
        <a href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a>
    </p>
</div>
{% endblock %}

